{% extends 'base.html' %}

{% block content %}
  <h1>{{ object.title }}</h1>
  <p>{{ object.content }}</p>
  <p>Author: {{ object.author }}</p>
  {% if request.user == object.author %}
    <a href="{% url 'post_edit' object.pk %}">Edit</a>
    <a href="{% url 'post_delete' object.pk %}">Delete</a>
  {% endif %}

  <h1>{{ post.title }}</h1>
  <p>Tags: 
    {% for tag in post.tags.all %}
      <a href="{% url 'tag_view' tag.name %}">{{ tag.name }}</a>
    {% endfor %}
  </p>
  <p>{{ post.content }}</p>
{% endblock %}